{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    {% if categories %}
                    {% for category in categories %}
                    <span class="icon-bar"></span>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        {% if categories %}
                        {% for category in categories %}
                        <li>
                            <form action="exploreCategories" method="post">
                                <input type="hidden" name="submit_category" value="{{category[0]}}" />
                                <button type="submit" style="background: none; border: none; padding: 15px; color:white;">
                                    {{category[0]}}
                                </button>
                            </form>
                        </li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}